# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Dataset - t?i riêng t? Kaggle
dataset_new/

# Training outputs
runs/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs / temporary files
*.log
*.csv
